# dependencies
/node_modules

# build output
/build
/dist
/out
/docs
.vitepress/cache
# ... more build-related patterns

# temporary files and caches
.temp
.cache
.vite/*.sock
.parcel-cache

# miscellaneous
.DS_Store # macOS system files
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.idea # JetBrains IDE files

# environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# testing
/coverage

# VS Code
.vscode/